form {
    background-color: white;
    padding: 1em;
    margin: 2em auto;
    width: 15em;
    color: black;
}

#register h1, #login h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
  }

label{
    padding: 1em;
}

label, input {
    display: block;
    font-weight: 550;
}

input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 1em;
    width: 100%;
    font-size: 0.8em;
}


input[type=submit] {
    width: auto;
    float: right;
    background-color: black;
    color: white;
    padding: 1em;
    margin: 1em;
}

input:focus{
    outline: none;
    border-bottom: 1px solid #046dd5;
}

@media (max-width: 30em) {
    #register, #login {
      background-color: white;
    }
  }

